<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zylch.passwordmanager">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo144"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo144"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManager">
        <activity android:name="com.zylch.passwordmanager.change_pass" />
        <activity android:name="com.zylch.passwordmanager.DeleteAll" />
        <activity android:name="com.zylch.passwordmanager.DeleteAccount" />
        <activity android:name="com.zylch.passwordmanager.ForgotPassword" />
        <activity android:name="com.zylch.passwordmanager.MainActivity" />
        <activity android:name="com.zylch.passwordmanager.Information" />
        <activity android:name="com.zylch.passwordmanager.Existing" />
        <activity android:name="com.zylch.passwordmanager.Generate" />
        <activity android:name="com.zylch.passwordmanager.GetPassword" />
        <activity android:name="com.zylch.passwordmanager.LoginActivity" />
        <activity android:name="com.zylch.passwordmanager.RegistrationActivity" />
        <activity android:name="com.zylch.passwordmanager.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>